.btn{
   width: 332px;
   height: 54px;
   line-height: 54px;
   text-align: center;
   background-color: #74b9ff;
}
.btn-preserve{
   width: 150px;
   height: 44px;
   line-height: 44px;
   text-align: center;
   background-color: #74b9ff;
}
.btn-group{
   display: inline-block;
   width: 100px;
   height: 37px;
   line-height: 37px;
   text-align: center;
   margin-right: 10px;
   background-color: #74b9ff;
}
.btn-mini{
   margin: 0 auto;
   width: 50px;
   height: 30px;
   line-height: 30px;
   text-align: center;
   background-color: #74b9ff;
}
