.modal{
   @include position(fixed);
   z-index: 9999;
   transition: all .5s;
   &.slide-enter-active{
      top: 0;
   }
   &.slide-enter, &.slide-leave-active{
      top: -100%;
   }
   .mask{
      @include position(fixed);
      background: #000000;
      opacity: 0.5;
   }
   .modal-dialog{
      @include position(absolute,40%,50%,660px,auto);
      background-color: #f5f5f5;
      transform: translate(-50%,-50%);
      .model-header{
         height: 60px;
         line-height: 60px;
         background-color: #f5f5f5;
         font-size:$fontI;
         padding:  0 25px;
         .icon-close{
            @include posImg(absolute,25px,23px,16px,14px,'/imgs/icon/icon-close.png');
            transition: transform .3s;

            &:hover{
               transform: scale(1.5);
            }
         }
      }
      .model-body{
         padding: 42px 40px 54px;
         font-size: 14px;
      }
      .model-footer{
         height: 82px;
         line-height: 82px;
         text-align: center;
         background: #f5f5f5;
      }
   }
}